:root {
  --color-txt: #dbdbdb;
  --font-family: "Lato", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(15, 15, 15);
}
html {
  scroll-behavior: smooth;
}
nav {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 50;
  border-bottom: #52d1dc 2px solid;
}
a {
  text-decoration: none;
  color: var(--color-txt);
  font-family: var(--font-family);
}
.logo-github,
.logo-behance,
.logo-linkedin {
  padding-left: 2rem;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.5s;
}
.logo-github:hover,
.logo-behance:hover,
.logo-linkedin:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}

.list {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  align-items: center;
}
li {
  margin: 0.5rem;
  padding-left: 2rem;
  padding-right: 6rem;
  display: flex;
  position: relative;
  align-items: center;
  color: var(--color-txt);
  font-family: var(--font-family);
  font-weight: 600;
  cursor: pointer;
  transition: 1s;
}
li:hover::after {
  content: "•";
  position: absolute;
  justify-content: center;
  left: 33.33%;
  transform: translateX(-50%);
  bottom: -2rem;
  font-size: 1.5rem;
  color: #52d1dc;
  transition: 1s;
}

/*----------------------DROPDWON LANGUAGE-----------------*/
.showicon {
  display: flex;
  margin-right: 15px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.lenguage {
  width: 5rem;
  height: auto;
  text-decoration: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  margin-right: 0.5rem;
  background-color: #070707;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content.show {
  display: block;
}

.showicon.selected + .dropdown-content {
  display: block;
}
.dropdown-content button {
  background-color: #000000;
  border: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content button:hover {
  border: 0.5px solid #52d1dc;
  border-radius: 1rem;
}
.dropdown:active .dropdown-content {
  display: block;
}

.dropdown-content img {
  width: 100%;
  height: auto;
  display: block;
}

/*----------------------HEADER-----------------*/
.main-div {
  display: flex;
  margin-top: 8rem;
  padding-bottom: 6rem;
  justify-content: center;
  border-bottom: #52d1dc 2px solid;
}
h1 {
  margin-top: 8rem;
  margin-bottom: 0px;
  padding-bottom: 2rem;
  color: var(--color-txt);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 4rem;
}
.p-web {
  color: var(--color-txt);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 2rem;
}
.profile {
  width: 15%;
  height: 350px;
  object-fit: cover;
  border-radius: 100px;
  padding-left: 1rem;
}

/*----------------------ABOUT-----------------*/
.section-about {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin: auto;
  margin-top: 5em;
  justify-content: center;
  width: 70%;
}
h2 {
  padding-bottom: 2rem;
  justify-content: start;
  color: var(--color-txt);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 2rem;
}
.div-about {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.p-about {
  width: 70%;
  color: rgb(214, 214, 214);
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 1.5rem;
}
h3 {
  padding-bottom: 2rem;
  color: var(--color-txt);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 2rem;
}
.div-skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ul-skills {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}

.skills-list {
  cursor: pointer;
  color: var(--color-txt);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
  background-color: rgb(10, 10, 10);
  border-radius: 1rem;
  padding: 1rem;
  transition: 1s;
}
.html-skill:hover {
  transition: 1s;
  -webkit-box-shadow: 2px 4px 0px 2px #e5532d;
  -moz-box-shadow: 2px 4px 0px 2px #e5532d;
  box-shadow: 2px 4px 0px 2px #e5532d;
}
.css-skill:hover,
.rp-skill:hover {
  transition: 1s;
  -webkit-box-shadow: 2px 4px 0px 2px #52d1dc;
  -moz-box-shadow: 2px 4px 0px 2px #52d1dc;
  box-shadow: 2px 4px 0px 2px #52d1dc;
}
.sass-skill:hover {
  transition: 1s;
  -webkit-box-shadow: 2px 4px 0px 2px #ce6b9c;
  -moz-box-shadow: 2px 4px 0px 2px #ce6b9c;
  box-shadow: 2px 4px 0px 2px #ce6b9c;
}
.js-skill:hover {
  transition: 1s;
  -webkit-box-shadow: 2px 4px 0px 2px #f7e025;
  -moz-box-shadow: 2px 4px 0px 2px #f7e025;
  box-shadow: 2px 4px 0px 2px #f7e025;
}
.react-skill:hover {
  transition: 1s;
  -webkit-box-shadow: 2px 4px 0px 2px #59c3df;
  -moz-box-shadow: 2px 4px 0px 2px #59c3df;
  box-shadow: 2px 4px 0px 2px #59c3df;
}

.node-skill:hover {
  transition: 1s;
  -webkit-box-shadow: 2px 4px 0px 2px #87cf30;
  -moz-box-shadow: 2px 4px 0px 2px #87cf30;
  box-shadow: 2px 4px 0px 2px #87cf30;
}
.git-skill:hover {
  transition: 1s;
  -webkit-box-shadow: 2px 4px 0px 2px #ffffff;
  -moz-box-shadow: 2px 4px 0px 2px #ffffff;
  box-shadow: 2px 4px 0px 2px #ffffff;
}
.figma-skill:hover {
  transition: 1s;
  -webkit-box-shadow: 2px 4px 0px 2px #a465fa;
  -moz-box-shadow: 2px 4px 0px 2px #a465fa;
  box-shadow: 2px 4px 0px 2px #a465fa;
}
.ph-skill:hover {
  transition: 1s;
  -webkit-box-shadow: 2px 4px 0px 2px #37abff;
  -moz-box-shadow: 2px 4px 0px 2px #37abff;
  box-shadow: 2px 4px 0px 2px #37abff;
}
.wp-skill:hover {
  transition: 1s;
  -webkit-box-shadow: 2px 4px 0px 2px #28799e;
  -moz-box-shadow: 2px 4px 0px 2px #28799e;
  box-shadow: 2px 4px 0px 2px #28799e;
}
/*-----------------PROJECTS---------*/
.section-projects {
  border-top: #52d1dc 2px solid;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin: auto;
  margin-top: 5em;
  justify-content: center;
  width: 70%;
}
.section-projects h4 {
  padding-top: 2rem;
  justify-content: start;
  color: var(--color-txt);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 2rem;
}
.section-projects div {
  width: 100%;
  height: auto;
}
.section-projects p {
  justify-content: start;
  color: var(--color-txt);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}
.img-portfolio {
  width: 100%;
  height: auto;
  border-radius: 1.5rem;
  cursor: pointer;
}
.div-project {
  padding-bottom: 1rem;
  padding-top: 2rem;
  opacity: 0;
}
.div-project.visible {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.div-project p {
  font-weight: 400;
  color: var(--color-txt);
  font-family: var(--font-family);
}
/*---------------LG LOGOS--------*/
.lg-logos {
  padding-top: 15px;
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.lg-logos img {
  width: 50px;
}
/*----------------------FORM-----------------*/
.section-contact {
  border-top: #52d1dc 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: auto;
  margin-top: 5em;
  width: 70%;
}
h5 {
  font-weight: 500;
  font-size: 2rem;
  color: var(--color-txt);
  font-family: var(--font-family);
  padding-top: 2rem;
}
.contact-form {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.div-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.top-input {
  width: 100%;
}
.contact-text,
.top-input {
  width: 400px;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  background-color: #000000;
  color: #fff;
  font-weight: 500;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
}
.top-input::placeholder,
.contact-text::placeholder {
  color: #8e8e8e;
  font-family: var(--font-family);
  font-weight: 500;
}
.button-form {
  margin-top: 0.5rem;
  width: 150px;
  padding: 1rem;
  background-color: #000000;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  color: var(--color-txt);
  font-family: var(--font-family);
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 4rem;
}
.button-form:hover {
  transition: 1s;
  -webkit-box-shadow: 2px 4px 0px 2px #52d1dc;
  -moz-box-shadow: 2px 4px 0px 2px #52d1dc;
  box-shadow: 2px 4px 0px 2px #52d1dc;
}

/*-----------FOOTER----------*/

footer {
  border-top: #52d1dc 2px solid;
  background-color: #000000;
  height: 100px;
  width: 100%;
}
footer p {
  padding-top: 1rem;
  padding-left: 10px;
  color: var(--color-txt);
  font-family: var(--font-family);
  font-weight: 200;
}

/*-----------ALERT----------*/
.my-title {
  color: var(--color-txt);
  font-family: var(--font-family);
  font-weight: 200;
}
.my-popup {
  background-color: #000000;
  -webkit-box-shadow: 2px 4px 0px 2px #52d1dc;
  -moz-box-shadow: 2px 4px 0px 2px #52d1dc;
  box-shadow: 2px 4px 0px 2px #52d1dc;
}
.my-text {
  color: var(--color-txt);
  font-family: var(--font-family);
  font-weight: 300;
}
